# Project exclude paths
/out/
/.idea
/src/Algoritms
/src/NC2403
/src/Chorsmantrain
/src/ChorsmanHomeWork
/src/treningtastk
/src/iShape.java
/src/Main.java
/src/Shape.java
/src/Rectangle.java
/src/Triangle.java